<div md-dialog-title class="text-center">
    <h3>Forget Password</h3>
    <hr/>
</div>
<div>
    <toaster-container [toasterconfig]="toasterConfig"></toaster-container>
    <form>
        <md-dialog-content>
    <md-input-container>
        <input md-input formControlName="UserName" placeholder="Username / Email" required>
    </md-input-container>
</md-dialog-content>
<md-dialog-actions>
            <div class="text-center">
                <button md-icon-button md-fab color="accent" type="submit">Login</button>
                <button type="button" md-fab (click)="dialogRef.close()">Cancel</button>
            </div>
            <br/>
        </md-dialog-actions>
    </form>
</div>